a, a:link {
	color: black;
	text-decoration: none;
}

a.linkedIn:link {
	float: left;
	padding: 5px;
	background-image: url("../lib/socicon-social-icon-font.png");
	background-repeat: no-repeat;
	width: 43px;
	height: 43px;
	background-position: -235px -384px;
}

a.gitHub:link {	
	float: left;
	padding: 5px;
	background-image: url("../lib/socicon-social-icon-font.png");
	background-repeat: no-repeat;
	width: 43px;
	height: 43px;
	background-position: -237px -209px;
}

a:hover {
	opacity: 0.4;
}

q {
	font-family: sans-serif;
	font-style: italic;
}

html, body {
	background: white;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 1.0em;
	line-height: 1.5;
}

#container {
	width: 100%;
	height: 100%;
}

#contentWrapper {
	text-align: left;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
}

/********* HEADER **************/

#headerWrapper {
	width: 100%;
	height: 80px;
	text-align: right;
	font-size: 250%;
	position: relative;
}

#headerContent {
	background-color: white;
	height: 100%;
	width: calc(100% - 2 * 80px);
	position: relative;
	left: 80px;
}

#headerWrapper span:hover {
	opacity: 0.4;
	cursor: pointer;
	font: bold;
}

#headerLeft {
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}

#headerRight {
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}

/********* END HEADER **************/

/********* PROFILE **************/
#contentWrapperProfile {
	width: calc(100% - 2 * 80px);
	height: 40%;
	margin-left: 80px;
	position: relative;
	background-color: #ff9e3e;
	overflow: hidden;
}

#profileTextContainer {	
	height: 400px;
	width: 100%;
	position: absolute;
	padding: 1em 0 0 0;
}

#profileTextContainer p {	
	text-align: center;
	font-size: 3em;
	letter-spacing: 10px;
	max-width: 1000px;
	margin: 0 auto 50px;
}

#contentWrapperExpEdu {
	width: 50%;
	height: 45%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color: white;
	position: relative;
	bottom: 0px;
}

#contentWrapperExpEdu h2 {
	color: #ff9e3e;
}

#contentWrapperExperience {
	float: left;
	width: calc(50%);
}
#contentWrapperEducation {
	float: right;
	width: calc(50%);
}

#profileImageWrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.InfosTable {
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
}

.InfosTable .date {
	font-style: italic;
	float: left;
}

.InfosTable .content {
	margin-left: 20px;
	float: left;
}

.InfosTable h4 {
	margin: 0 0 1px;
}

.InfosTable p {
	margin: 1px 0 0;
}

/********* END PROFILE **************/

/********* PROJECTS **************/
#contentWrapperProjects {
	width: calc(100% - 2 * 80px);
	height: calc(100% - 100px);
	position: relative;
	background-color: #ff9e3e;
	overflow: auto;
	background-color: white;
	left: 80px;
}

#projectHeaderImageWrapper {
	height: 200px;
	overflow: hidden;
	width: 100%;
}

#ProjectHeader {
	background-color: #ff9e3e;
	height: 200px;
}

#ProjectHeader p {
	width: 100%;
	font-size: 3em;
	text-align: center;
	position: absolute;
}

#ProjectWrapper {
	width: 100%;
	height: 400px;
	display: table;
}

#ProjectWrapper:nth-child(odd) {
	right: 25%;
	padding-left: 50%;
	width: 50%;
}

#ProjectWrapper:nth-child(odd) > .projectImageWrapper {
	float: left;
	left: 0px;
}

#ProjectWrapperBlock {
	width: 40%;
	height: 100%;
 	display: table-cell;
	position: relative;
	padding: 1em 0 0 1em;
	overflow: hidden;
}

#ProjectWrapperBlock h3 {
	text-transform: uppercase;
}

#ProjectWrapperBlock h2 {
	text-transform: uppercase;
	color: #ff9e3e;
}

.projectImageWrapper {
	width: 50%;
	height: 400px;
	position: absolute;
	overflow: hidden;
	float: right;
	right: 0px;
}

.projectImage {
	width: 100%;
	height: 100%;
	opacity: 1.0;
	z-index: 1;
	pointer-events: none;
}

/********* END PROJECTS **************/

/********* PROJECT DETAILS **************/

#contentWrapperProjectDetails {
	height: calc(100% - 100px);
	position: relative;
	background-color: #ff9e3e;
	overflow: auto;
	background-color: white;
	margin: 10px;
}

#ProjectDetailsHeader {
	padding: 5px 0 0 5px;
	background-color: #ff9e3e;
	height: 200px;
}

#ProjectDetailsWrapperBlock {
	width: 100%;
	height: 100%;
	display: table-cell;
	position: relative;
	text-align: left;
	padding: 5px 0 0 5px;
}

#ProjectDetailsWrapper {
	width: 50%;
	height: 400px;
	display: table;
}

#ProjectDetailsWrapper:nth-child(odd) {
	text-align: right;
	right: 0px;
	padding-left: 50%;
}

#ProjectDetailsWrapper:nth-child(odd) > img {
	float: left;
	left: 0px;
}

.projectDetailsImage {
	width: 50%;
	height: 400px;
	transform: scale(1.0, 1.0);
	opacity: 1.0;
	z-index: 1;
	pointer-events: none;
	position: absolute;
	float: right;
	right: 0px;	
}

/********* END PROJECT DETAILS **************/

/********* MOBILE **************/

#mobileVersionUnavailableWrapper {
	height: 100%;
	width: 100%;
}

#mobileVersionUnavailable {
	width: 270px;
	height: 300px;
	transform: translateY(50%);
	margin-left: 35%;
}

.mobileVersionUnavailableText {
	font-size: 8px;
	font-weight: bold;
	text-align: center;
	color: grey;
}

.mobileVersionUnavailableImage {
	height: 100%;
	opacity: 1.0;
	z-index: 1;
	pointer-events: none;
	
}

/********* END MOBILE **************/

#footer {
	background-color: white;
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0px;
	padding-left: 80px;
	color: black;
	font-size: 10px;
}

.headerImage {
	transform: scale(1.0, 1.0);
	opacity: 0.1;
	z-index: 1;
	pointer-events: none;
	width: 100%;
}

#socials {
	height: 45px;
	position: absolute;
	bottom: 0px;
	left: calc(50%);
	transform: matrix(0.5, 0, 0, 0.5, 0, 0);	
}